<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Quick" verbose="1" >

    <test name="Quick" >
        <classes>

            <class name="org.nat.dog.tests.aboutPage.AboutPageTests"/>
            <class name="org.nat.dog.tests.clinicsPage.ClinicsPageTests"/>

            <class name="org.nat.dog.tests.kennelsPage.KennelsPageTests"/>

        </classes>
    </test>

</suite>